<div  style="background-image: url(assets/bg.jpg);" class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="form" autocomplete="off"  novalidate (ngSubmit)="onSubmit(form.value)">
                  <h1>Vote App</h1>
                  <p class="text-muted">Forgot Password</p>
                  <div class="controls">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input formControlName="email" type="text" class="form-control" placeholder="Enter Email">
                    </div>
                    <p class="help-block text-danger" *ngIf="validateControl('email') && hasError('email','email')">Enter a valid email</p>
                    <p class="help-block text-danger" *ngIf="validateControl('email') && validateControl('email') && hasError('email','maxlength')">Email cannot exceed 150 characters</p>
                  </div>
                  <button  type="submit" [disabled]="loading" class="btn btn-block btn-success">Forgot Password</button>
                  <div class="row">
                    <div class="col-12 text-left">
                      <a class="btn btn-link px-0" routerLink="/login"> Back to Login</a>
                    </div>
                  </div>
                  <div class="row">
                    <div  class="col-12 text-center">
                      <img  height="20" width="20" *ngIf="loading" src="assets/loader.gif">
                    </div>
                  </div>
                </form>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  