<div class="animated fadeIn">
 
  
  

  <div class="row">
    <div class="col-sm-4">

      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <span  class="btn btn-transparent p-0 float-right">
            <i class="icon-layers"></i>
          </span>
          <div class="text-value">{{election}}</div>
          <div>Total Elections</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
          
        </div>
      </div>

</div>

<div class="col-sm-4">

  <div class="card text-white bg-warning">
    <div class="card-body pb-0">
      <span   class="btn btn-transparent p-0 float-right">
        <i class="icon-emotsmile"></i>
      </span>
      <div class="text-value">{{candidate}}</div>
      <div>Total Condidates</div>
    </div>
    <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
      
    </div>
  </div>

</div>

<div class="col-sm-4">

  <div class="card text-white bg-success">
    <div class="card-body pb-0">
      <span   class="btn btn-transparent p-0 float-right">
        <i class="icon-people"></i>
      </span>
      <div class="text-value">{{voter}}</div>
      <div>Total Voters</div>
    </div>
    <div class="chart-wrapper mt-3 mx-3" style="height:50px;">
      
    </div>
  </div>

</div>




</div>
</div>
